[Unit]
Description=checks if installed on virtual machine or not

[Service]
Type=oneshot
ExecStart=/usr/bin/arcolinux-virtual-machine-check

[Install]
WantedBy=multi-user.target
