[Desktop Entry]
Terminal=false
Type=Application
Categories=System;
StartupNotify=false
Name=ArcoLinux Hello
Exec=exo-open "https://arcolinux.info/arcolinux-editions/"
Icon=arcolinux-hello
Comment=Need to know information about ArcoLinux
