[Desktop Entry]
Type=Application
Name=Install ArcoLinux
Comment=Installer for ArcoLinux
Categories=Utility;
Exec=sudo -E calamares
Icon=arco-calamares
